.panel-title > a {
	color: inherit;
	display: block;
}
.tab-shorty .tab-content {
	border-top: 0 none;
	margin-top: 0;
	padding: 20px;
}
/*Block featured*/

.panel-icon-wrap {
  background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    margin-right: 30px;
    min-height: 117px;
    padding-bottom: 14px;
    padding-right: 100px;
    position: relative;
}
.panel h5 {
	font-size: 17px;
	font-weight: normal;
	line-height: 26px;
	margin-bottom: 0;
	position: relative;
	transition: all 1s ease 0s;
}
.panel-icon {

    background: none repeat scroll 0 0 #a0d468;
    border-radius: 100px;
    height: 80px;
    padding: 10px;
    position: absolute;
    right: 10px;
    top: 10px;
    width: 80px;

}
.panel-icon i {

    color: #fff;
    display: block;
    font-size: 35px;
    margin: 11px 3px;
    text-align: center;
    width: 57px;

}
/*thumbnail*/

#cms #center_column .thumbnail img {
	margin:0;
	padding:0;
}
.shorty.thumbnail img {
	margin:0;
	padding:0;
}
.shorty.thumbnail-circle {
	border-radius: 100%;
	overflow: hidden;
}
.shorty.thumbnail-circle img {
	border-radius: 100%;
	overflow: hidden;
}
.shorty.thumbnail {
	display: inline-block;
	margin: 10px;
}
#cms #center_column .shorty.thumbnail.thumbnail-left img {
	margin-right:20px;
	float:left;
}
#cms #center_column .shorty.thumbnail-bottom img {
	margin-bottom:20px;
}
/*Alert*/

.shorty.alert.alert-succes {
	background-color: #DFF0D8;
	border-color: #D6E9C6;
	color: #3C763D;
}
.shorty.alert:before {
	display:none !important;
}
/*Icon line*/

.icon-set-wrap {
 display: inline-block;
    font-size: 16px;
    margin-bottom: 10px;
    width: 100%;
}
.icon-set-wrap .icon-set {
	float: left;
	margin-right: 12px;
	margin-top: -2px;
}
.icon-set-wrap .icon-set a {
	border: 2px solid #919191;
	border-radius: 100px;
	display: inline-block;
	height: 40px;
	text-align: center;
	width: 40px;
	cursor:default;
}
.icon-set-wrap .icon-set i {
	font-size: 19px !important;
	left: 1px;
	position: relative;
	top: 7px;
}
/*Popover*/


.popover-shorty i {
	background: none repeat scroll 0 0 #F6F6F6;
	border-radius: 100px;
	color: #AFAFAF !important;
	display: inline-block !important;
	font-size: 20px !important;
	height: 60px;
	line-height: 26px;
	margin: 5px 5px 10px 0;
	padding: 17px;
	position: relative;
	text-align: center;
	transition: all 0.1s ease 0s;
	vertical-align: top;
	width: 60px;
	z-index: 101;
}
.popover-shorty:hover .popover {
	display:block !important;
}
.popover-title {
	padding: 8px 14px 0 !important;
}

